
.right_click_message_menu_vertical {
    text-align: left;
    padding: 15px;
}

.right_click_message_menu_horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.right_click_message_menu_item {
    cursor: pointer;
}

.right_click_message_menu_vertical .right_click_message_menu_item i {
    height: unset;
    width: 30px;
}

/*
For hiding the regular message buttons.
After you edit a message, ST will try to show the message buttons again.
This keeps them hidden.
 */
.force_hidden {
    display: none !important;
}
