/* horizontal menu */
.right_click_message_menu_horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.4em;
}
.right_click_message_menu_horizontal .right_click_message_menu_item {
    cursor: pointer;
    padding: calc(1em - 18px);
}

/* vertical menu */
.right_click_message_menu_vertical {
    padding: 0.4em;
}
.right_click_message_menu_vertical .right_click_message_menu_item {
    cursor: pointer;
}
.right_click_message_menu_vertical .right_click_message_menu_item i {
    height: unset;
    width: 1.5em;
}

/*
For hiding the regular message buttons.
After you edit a message, ST will try to show the message buttons again.
This keeps them hidden.
 */
.force_hidden {
    display: none !important;
}
